#codigo/new_exp/resultados/
codigo/zlater/benchmarks
codigo/new_exp/__pycache__
codigo/new_exp/prototypes/__pycache__
codigo/raspi/gamma_pruebas
codigo/raspi/dataset/
codigo/.vscode/
codigo/.lprof/
script_bash/

*.pyc
codigo/new_exp/tiempos.txt

**/resultados_servidor/
**/*.log
**/__pycache__/
**/nohup.out

